# Ignore Everything

.curseclient
.fabric/
.mixin.out/
cache/
config/
crash-reports/
data/
defaultconfigs/
irisUpdateInfo.json
kubejs/
local/
logs/
minecraftinstance.json
mods/
options.txt
patchouli_data.json
rhino.local.properties
saves/