# Ignore Everything

.fabric/
.mixin.out/
cache/
cachedImages/
data/
local/
logs/
moddata/
mods/
patchouli_books/
quests_structures/
resourcepacks/
saves/
shaderpacks/
.curseclient
irisUpdateInfo.json
minecraftinstance.json
options.txt
patchouli_data.json
rhino.local.properties